<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Team Information</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="https://github.com/aman5319/" target="_blank">Aman Kumar Pandey</a></li>
    <li><a href="#">Aniket Kumar Singh</a></li>
    <li><a href="https://github.com/keepcalmncode" target="_blank">Kali Kiran Kumar K</a></li>
    <li><a href="#">Maneesh V Kumar</a></li>
</ul>
<nav>
    <div class="nav-wrapper green darken-1">
        <a href="{{url_for('teamInfo')}}" class="brand-logo">Football Database Management System</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{url_for('matchFixture')}}">Match Fixture</a></li>
            <li><a href="{{url_for('topTeam')}}">Top Team</a></li>

            <li><a href="{{url_for('feedback')}}">Feedback</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#" data-activates="dropdown1">Team Members<i
                    class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        {% for team_infor in teamInformation %}
        <div class="col s4 ">
            <div class="card-panel hoverable">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="{{url_for('teamPlayers' , teamName=team_infor['teamName'])}}"> <img
                                src="{{team_infor['teamLogo']}}"></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{team_infor["teamName"]}}<i
                                class="material-icons right">more_vert</i></span>

                        <a href="{{url_for('viewTeam' , teamName=team_infor['teamName'])}}"
                           class="waves-effect waves-teal btn-flat">View</a>
                        <a href="{{url_for('editTeam' , teamName=team_infor['teamName'])}}"
                           class="waves-effect waves-teal btn-flat">Update</a>
                        <form action="{{url_for('deleteTeam', teamName=team_infor['teamName'])}}" method="post">
                            <input class="waves-effect waves-teal btn-flat" type="submit" value="Delete"/>
                        </form>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">About<i
                                class="material-icons right">close</i></span>
                        <p>{{team_infor['about']}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
<div class="fixed-action-btn">
    <a href="{{url_for('addTeam')}}" class="btn-floating btn-large waves-effect waves-light teal">
        <i class="material-icons">add</i>
    </a>
</div>
<br><br>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $(".dropdown-button").dropdown();
        $('.slider').slider();
    });
</script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<footer class="page-footer">
    <div class="container">
        <div class="row">

            <div class="input-field col s10">
                <h5 class="white-text">About Us</h5>
                <p class="grey-text text-lighten-4">This project is a collaboration of Rendered Ideas</p>
            </div>
            <div class="input-field col s2">
                <a href="https://github.com/aman5319/Football-project" target="_blank">
                    <img src="../static/GitHub-Mark-Light-64px.png">
                </a>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <h5> WE ARE VERY OPPORTUNISTIC WHEN IT COMES TO OPEN SOURCE</h5>
        </div>
    </div>
</footer>

</body>
</html>