<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">
<title>Team Information</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="row">
  <div class="col s4 ">
  <div class="card-panel hoverable">
 <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://wallpaperscraft.com/image/barcelona_spain_football_club_sports_logo_25996_800x600.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Barcelona FC<i class="material-icons right">more_vert</i></span>
       <p><a href="file:///C:/Users/kiran/Desktop/project/barca.html">VIEW</a></p>
       <p><a href="#">UPDATE</a></p>
	   <p><a href="#">DELETE</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Barcelona FC<i class="material-icons right">close</i></span>
      <p>FC Barcelona is a professional association football club based in Barcelona, Catalonia, Spain. The club was founded in 1899 by a group of Swiss, English and Spanish men led by Joan Gamper.</p>
    </div>
	</div>
  </div>
  </div>
  <div class="col s4 ">
  <div class="card-panel hoverable"> 
 <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://i1.wp.com/cdn.wallpapersafari.com/25/71/FTuLS7.jpg?resize=800%2C600">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Manchester United<i class="material-icons right">more_vert</i></span>
       <p><a href="file:///C:/Users/kiran/Desktop/project/manchester.html">VIEW</a></p>
       <p><a href="#">UPDATE</a></p>
	   <p><a href="#">DELETE</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Manchester United<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div> 
	</div>
   </div>	
  </div>
  <div class="col s4 ">
  <div class="card-panel hoverable"> 
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://orig00.deviantart.net/9f73/f/2009/108/c/b/real_madrid_2_0_by_kubano1984.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Real Madrid<i class="material-icons right">more_vert</i></span>
       <p><a href="file:///C:/Users/kiran/Desktop/project/realmadrid.html">VIEW</a></p>
       <p><a href="#">UPDATE</a></p>
	   <p><a href="#">DELETE</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Real Madrid<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div> 
	</div>
   </div>	
</div>
<div class="col s4 ">
  <div class="card-panel hoverable"> 
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://images1.fanpop.com/images/photos/2500000/Chelsea-FC-chelsea-fc-2505612-800-600.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Chelsea FC<i class="material-icons right">more_vert</i></span>
       <p><a href="file:///C:/Users/kiran/Desktop/project/chelsea.html">VIEW</a></p>
       <p><a href="#">UPDATE</a></p>
	   <p><a href="#">DELETE</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Chelsea FC<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div> 
	</div>
   </div>	
</div>
<div class="col s4 ">
  <div class="card-panel hoverable"> 
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://www.wallpaperist.com/wallpapers/Sports/Football/Teams-in-England/Arsenal-emblem-800-600.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Arsenal<i class="material-icons right">more_vert</i></span>
      <p><a href="file:///C:/Users/kiran/Desktop/project/arsenal.html">VIEW</a></p>
       <p><a href="#">UPDATE</a></p>
	   <p><a href="#">DELETE</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Arsenal<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div> 
	</div>
   </div>	
</div>
<div class="col s4 ">
  <div class="card-panel hoverable"> 
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://hd.wallpaperswide.com/thumbs/liverpool_fc_5-t2.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Liverpool<i class="material-icons right">more_vert</i></span>
      <p><a href="file:///C:/Users/kiran/Desktop/project/liverpool.html">VIEW</a></p>
       <p><a href="#">UPDATE</a></p>
	   <p><a href="#">DELETE</a></p>
	  </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Liverpool<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div> 
	</div>
   </div>	
</div>
</div>
</div>
<br><br>
 <a href="file:///C:/Users/kiran/Desktop/project/addteam.html" class="btn" onclick="Materialize.showStaggeredList('#staggered-test')"> <i class=" large material-icons right" >add_box</i></a>

 <!--Import jQuery before materialize.js-->
 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <script type="text/javascript" src="js/materialize.min.js"></script>
 <script>
    $(document).ready(function(){
  $(".dropdown-button").dropdown();
      $('.slider').slider();
    });
   </script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>