<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">
<title>Football Database Management</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper blue darken-3">
    <a href="#!" class="brand-logo">Football Database Management</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Content</a></li>
      <li><a href="badges.html">Feedback</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">More<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="https://ichef.bbci.co.uk/images/ic/480x270/p05394v7.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://a2.espncdn.com/combiner/i?img=%2Fi%2Fteamlogos%2Fsoccer%2F500%2F364.png"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/360.png&w=288&h=288"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://specials-images.forbesimg.com/imageserve/592d79ba4bbe6f1b730aded4/640x434.jpg?fit=scale&background=000000"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
  <br>
  <br>
  <div class="container">
  <div class="row">
  <div class="col s4 center-align"><i class=" medium material-icons center" >palette</i><br>
  The overall FrontEnd Design is done in HTML   CSS and JavaScript. The powerful features provided by CSS and JavaScript help in designing an interactive website.
  </div>
  <div class="col s4 center-align "><i class=" medium material-icons center" >extension</i><br>
The process of linking the BackEnd with the FrontEnd is achieved by using PYTHON. It is simple , clean , easy-to-understand and it is the best all-in-all.
  </div>
  <div class="col s4 center-align"><i class=" medium material-icons center" >dvr</i><br>
 The database is developed in MongoDB. It is a open source no SQL database.It's extension to the support of JSON Format makes it a hassle-free.
  </div>
  </div>
  </div>
   <div class="card">
    <div class="card-image">
	 <img src="https://pbs.twimg.com/profile_images/828046880768679937/QVOd6emt.jpg">
    <div class="card-content">
      <h1>Match Results</h1>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test4">Match 1</a></li>
        <li class="tab"><a class="active" href="#test5">Match 2</a></li>
        <li class="tab"><a href="#test6">Match 3</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="test4"><h2>Real Madrid Vs Manchester United</h2><br></h1>Real Madrid took the spectators on pride by scoring 3-1</h1></div>
      <div id="test5"><h2>Liverpool Vs Barcelona</h2><br>Barcelona qualifies to semi-s by scoring 2-1</div>
      <div id="test6"><h2>Arsenal Vs Chelsea</h2><br>A tough game all in all. The game draws and the scores balance at 1-1</div>
    </div>
  </div>
  <br>
  <br>
    <a href="file:///C:/Users/kiran/Desktop/project/cards.html" class="btn" onclick="Materialize.showStaggeredList('#staggered-test')"> <i class=" large material-icons right" >dvr</i></a>
  <br>
  <br>       
     <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">About Us</h5>
                <p class="grey-text text-lighten-4">This project is a collaboration of Rendered Ideas</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Reach us</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Git link</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">linkedIn</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            ~Project yet to be certified~
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
		
            
    <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
  <script>
   
  $(document).ready(function(){
  $(".dropdown-button").dropdown();
      $('.slider').slider();
    });
   </script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>