<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Football Database Management</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="https://github.com/aman5319/" target="_blank">Aman Kumar Pandey</a></li>
    <li><a href="https://github.com/aniketsingh777/" target="_blank">Aniket Kumar Singh</a></li>
    <li><a href="https://github.com/keepcalmncode" target="_blank">Kali Kiran Kumar K</a></li>
    <li><a href="#" target="_blank">Maneesh V Kumar</a></li>
</ul>
<nav>
    <div class="nav-wrapper green darken-1">
        <a class="brand-logo">Football Database Management System</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{url_for('matchFixture')}}">Match Fixture</a></li>
            <li><a href="{{url_for('topTeam')}}">Top Team</a></li>

            <li><a href="{{url_for('feedback')}}">Feedback</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#" data-activates="dropdown1">Team Members<i
                    class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>
<div class="slider">

    <ul class="slides">

        <li>
            <img src="{{url_for('static' ,filename='slider1.jpg')}}"> <!-- random image -->
            <div class="caption center-align">
            </div>
        </li>
        <li>
            <img src="{{url_for('static' ,filename='slider3.jpg')}}">
            <!-- random image -->
            <div class="caption left-align">

            </div>
        </li>
        <li>
            <img src="{{url_for('static' ,filename='slider2.jpg')}}">
            <!-- random image -->
            <div class="caption right-align">
            </div>
        </li>
        <li>
            <img src="{{url_for('static' ,filename='slider4.jpg')}}">
            <!-- random image -->
            <div class="caption center-align">
                <h4>Give a man a soccer ball, he plays for a moment. Teach a man to play soccer, he plays for a life
                    time.</h4>

            </div>
        </li>
    </ul>
</div>
<br>
<br>

<div class="container">
    <div class="row ">
        <div class="col s6">
            <div class="card-panel hoverable">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/lion.png">
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Premier League<i
                            class="material-icons right">more_vert</i></span>
                        <p><a href="{{url_for('showTeam')}}">Click for team info</a></p>
                    </div>
                    <div class="card-reveal" style="background: #9e9e9e">
                        <span class="card-title grey-text text-darken-4"><h4
                                style="font-style: italic">Team Playing</h4><i
                                class="material-icons right">close</i></span>
                        <br>
                        <ul>
                            {% for b in name_list %}

                            <li><h4 style="font-style: italic;color: azure">{{b}}</h4></li>


                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col s4 center-align"><i class=" medium material-icons center">palette</i><br>
            The overall FrontEnd Design is done in HTML CSS and JavaScript using Material Design . The powerful features
            provided by CSS and
            JavaScript help in designing an interactive website.
        </div>
        <div class="col s4 center-align "><i class=" medium material-icons center">extension</i><br>
            The process of linking the BackEnd with the FrontEnd is achieved by PYTHON using FLASK and JINJA2 Framework.
            It is simple , clean ,
            easy-to-understand and it is the best all-in-all.
        </div>
        <div class="col s4 center-align"><i class=" medium material-icons center">dvr</i><br>
            The database is developed in MONGODB backed up on Clever-Cloud. It is a open source NOSQL database.It's
            fully-flexed support of
            JSON Format makes it a hassle-free and super-easy.
        </div>
    </div>
</div>


<br>
<br>


<footer class="page-footer">
    <div class="container">
        <div class="row">

            <div class="input-field col s10">
                <h5 class="white-text">About Us</h5>
                <p class="grey-text text-lighten-4">This project is a collaboration of Rendered Ideas</p>
            </div>
            <div class="input-field col s2">
                <a href="https://github.com/aman5319/Football-project" target="_blank">
                    <img src="../static/GitHub-Mark-Light-64px.png">
                </a>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <h5> WE ARE VERY OPPORTUNISTIC WHEN IT COMES TO OPEN SOURCE</h5>
        </div>
    </div>
</footer>


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>

    $(document).ready(function () {
        $(".dropdown-button").dropdown();
        $('.slider').slider();
    });
</script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>