<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">
<title>Player Information</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="row">
  <div class="col s4 ">
 <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://www.manutd.com/sitecore/shell/~/media/C0DC1E0849F54882852AB54A9E6645E9.ashx?w=240&h=311&rgn=593,93,1233,920">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">ERIC BAILLY<i class="material-icons right">more_vert</i></span>
       <p><a href="#">VIEW</a></p>
       <p><a href="#">UPDATE</a></p>
	   <p><a href="#">DELETE</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">ERIC BAILLY<i class="material-icons right">close</i></span>
      <p>FC Barcelona is a professional association football club based in Barcelona, Catalonia, Spain. The club was founded in 1899 by a group of Swiss, English and Spanish men led by Joan Gamper.</p>
    </div>
	</div>
  </div>
  <div class="col s4 ">
  
 <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://www.manutd.com/sitecore/shell/~/media/69BBD2D5FA354FE2914202DD9B0E5665.ashx?w=240&h=311&rgn=0,0,5421,7035">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">ZLATAN IBRAHIMOVIC<i class="material-icons right">more_vert</i></span>
       <p><a href="#">VIEW</a></p>
       <p><a href="#">UPDATE</a></p>
	   <p><a href="#">DELETE</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">ZLATAN IBRAHIMOVIC<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div> 
	</div>
   	
  </div>
  <div class="col s4 ">
  
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://www.manutd.com/sitecore/shell/~/media/D90FDAF01B034317B8D701F315C30E22.ashx?w=240&h=311&rgn=0,206,2000,2800">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">PAUL POGBA<i class="material-icons right">more_vert</i></span>
       <p><a href="#">VIEW</a></p>
       <p><a href="#">UPDATE</a></p>
	   <p><a href="#">DELETE</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">PAUL POGBA<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div> 
	
   </div>	
</div>
<div class="col s4 ">
  
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://www.manutd.com/sitecore/shell/~/media/86FBC5F87D844A0B976BD491D7FBB1EE.ashx?w=240&h=311&rgn=0,133,2000,2726">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">PHIL JONES<i class="material-icons right">more_vert</i></span>
       <p><a href="#">VIEW</a></p>
       <p><a href="#">UPDATE</a></p>
	   <p><a href="#">DELETE</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">PHIL JONES<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div> 
	
   </div>	
</div>
<div class="col s4 ">
  
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://www.manutd.com/sitecore/shell/~/media/D6551FB29FE74D7B97AFAD9C94AEECD0.ashx?w=240&h=311&rgn=0,55,1500,2000">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">ROMELU LUKAKU<i class="material-icons right">more_vert</i></span>
      <p><a href="#">VIEW</a></p>
       <p><a href="#">UPDATE</a></p>
	   <p><a href="#">DELETE</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">ROMELU LUKAKU<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    
	</div>
   </div>	
</div>
<div class="col s4 ">
 
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://www.manutd.com/sitecore/shell/~/media/6736E489D9F8480DBABD40F33B60A398.ashx?w=240&h=311&rgn=333,120,1626,1800">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">JUAN MATA<i class="material-icons right">more_vert</i></span>
      <p><a href="#">VIEW</a></p>
       <p><a href="#">UPDATE</a></p>
	   <p><a href="#">DELETE</a></p>
	  </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">JUAN MATA<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div> 
	</div>
  	
</div>
</div>
</div>
<br><br>
 <a href="file:///C:/Users/kiran/Desktop/project/addplayer.html" class="btn" onclick="Materialize.showStaggeredList('#staggered-test')"> <i class=" large material-icons right" >add_box</i></a>

 <!--Import jQuery before materialize.js-->
 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <script type="text/javascript" src="js/materialize.min.js"></script>
 <script>
    $(document).ready(function(){
  $(".dropdown-button").dropdown();
      $('.slider').slider();
    });
   </script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>