<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Team Information</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

 <div class="parallax-container">
    <div class="parallax"><img src="https://i.ytimg.com/vi/Fe9wK1H2Nd4/maxresdefault.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Liverpool</h2>
      <p class="grey-text text-darken-3 lighten-3">	 
      Ground : Anfield<br>
      Manager : Jurgen Klopp<br>
      Year Formed : 1892<br>
      Chairman : John W Henry.<br>
	  Team Value : $1,492 M <br>
	  Website : www.liverpoolfc.tv <br>
	  Country: England<br>
	  Sponsor : Standard Chartered<br>
	  Team Coach : Jürgen Klopp<br>
	  </p>
	       <h2 class="header">Liverpool Team Information</h2>
              <table>
                        <thead>
                        <tr>
                           
                            <th>Player Name</th>

                        </tr>
                        </thead>

                        <tbody>
                     	<tr>				  					  				
                            <td>Simon Mignolet</td>

                        </tr>
                        <tr>
                           
                            <td>James Milner</td>

                        </tr>
                        <tr>
                            
                            <td>Philippe Coutinho</td>

                        </tr>
                        <tr>
                            
                            <td>Sadio Mané</td>

                        </tr>
                        <tr>
                            
                            <td>Roberto Firmino</td>

                        </tr>
                        <tr>
                          
                            <td>Mohamed Salah</td>

                        </tr>
                        </tbody>
                </table>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://assets.lfcimages.com/uploads/downloads/5632__4804__team_1440x900.jpg"></div>
  </div>
      



<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js">
</script>

<script>

    $(document).ready(function () {
       $('.parallax').parallax();
        $(".dropdown-button").dropdown();
        $('select').material_select();
        
    });
</script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js">
</script>

</body>
</html>