<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Add</title>
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/app/templates/css/materialize.min.css" media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<form class="teamadd" action="" method="post">

    <label>Enter Team logo url:- </label>
    <input type ='url' size='30' name='teamLogo' value = '{{teamInfo["teamLogo"]}}' required><br><br>
    <label>Enter Team squadpic url:- </label>
    <input type ='url' size='30' name='squadPic' value = '{{teamInfo["squadPic"]}}' required><br><br>
    <label>Enter Team founder and when founded details:- </label>
    <input type ='text' size='30' name='founded' required value = '{{teamInfo["founded"]}}'><br><br>
    <label>Enter Team home ground:- </label>
    <input type ='text' size='30' name='homeGround' value = '{{teamInfo["homeGround"]}}' required><br><br>
    <label>Enter Team cost:- </label>
    <input type ='number' size='30' name='teamCost' value = '{{teamInfo["teamCost"]}}' required><br><br>
    <label>Enter Team website:- </label>
    <input type ='url' size='30' name='teamWebsite' value = '{{teamInfo["teamWebsite"]}}' required><br><br>
    <label>Enter Team owner:- </label>
    <input type ='text' size='30' name='teamOwner' value = '{{teamInfo["teamOwner"]}}' required><br><br>
    <label>Enter Team teamcoach:- </label>
    <input type ='text' size='30' name='teamCoach' value = '{{teamInfo["teamCoach"]}}' required><br><br>
    <label>Enter Team sponser:- </label>
    <input type ='text' size='30' name='teamSponsor' value = '{{teamInfo["teamSponsor"]}}' required><br><br>
    <label>Enter Team country:- </label>
    <input type ='text' size='30' name='country' value = '{{teamInfo["country"]}}' required><br><br>
    <input type="submit" value="Submit">

<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="/app/templates/js/materialize.min.js"></script>
</form>
</body>
</html>